---
layout: default
title: Coffee Prism - Coffee Knowledge and Equipment Recommendations
subtitle: Discover the world of specialty coffee
lang: en
---

<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="banner_text">
          <div class="banner_text_iner">
            <h1>{{ site.data.i18n.en.home.hero_title }}</h1>
            <p>{{ site.data.i18n.en.home.hero_subtitle }}</p>
            <a href="{{ site.data.i18n.en.home.hero_button_link | relative_url }}" class="btn_1">{{ site.data.i18n.en.home.hero_button_text }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="banner_img">
          <img src="{{ '/assets/img/banner_img.png' | relative_url }}" alt="Banner Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- featured section -->
<section class="featured_part section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="featured_title">
          <h2>{{ site.data.i18n.en.home.featured_title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% assign featured_posts = site.posts | where: "featured", true | where: "lang", "en" | limit: 3 %}
      {% for post in featured_posts %}
      <div class="col-lg-4 col-sm-6">
        <div class="single_featured_post">
          <div class="post-img">
            {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="img-fluid">
            {% else %}
            <img src="{{ '/assets/img/default-post.jpg' | relative_url }}" alt="{{ post.title }}" class="img-fluid">
            {% endif %}
          </div>
          <div class="post-content">
            <h4><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
            <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            <a href="{{ post.url | relative_url }}" class="read_more">Read More <i class="ti-arrow-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- featured section end -->

<!-- latest articles -->
<section class="blog_part section_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section_tittle">
          <h2>{{ site.data.i18n.en.home.latest_articles }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          {% assign latest_posts = site.posts | where: "lang", "en" | sort: "date" | reverse | limit: 6 %}
          {% for post in latest_posts %}
          <div class="col-lg-6 col-sm-6">
            <div class="single_blog_post">
              <div class="post-img">
                {% if post.image %}
                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="img-fluid">
                {% else %}
                <img src="{{ '/assets/img/default-post.jpg' | relative_url }}" alt="{{ post.title }}" class="img-fluid">
                {% endif %}
              </div>
              <div class="single_blog_content">
                {% if post.categories %}
                {% assign first_category = post.categories | first %}
                <div class="post_category">
                  <a href="{{ site.baseurl }}/categories#{{ first_category | slugify }}">{{ first_category }}</a>
                </div>
                {% endif %}
                <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
                <div class="post_meta">
                  <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
                  <a href="{{ post.url | relative_url }}" class="read_more_btn">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="sidebar_widget categories">
            <h3>{{ site.data.i18n.en.home.categories }}</h3>
            <ul>
              {% assign categories_list = site.categories | sort %}
              {% for category in categories_list %}
              {% assign category_name = category | first %}
              {% assign en_posts = site.categories[category_name] | where: "lang", "en" %}
              {% if en_posts.size > 0 %}
              <li>
                <a href="{{ site.baseurl }}/categories#{{ category_name | slugify }}">
                  {{ category_name }}
                  <span>({{ en_posts.size }})</span>
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          
          <div class="sidebar_widget tags">
            <h3>{{ site.data.i18n.en.home.tags }}</h3>
            <ul>
              {% assign tags_list = site.tags | sort %}
              {% for tag in tags_list %}
              {% assign tag_name = tag | first %}
              {% assign en_posts = site.tags[tag_name] | where: "lang", "en" %}
              {% if en_posts.size > 0 %}
              <li><a href="{{ site.baseurl }}/tags#{{ tag_name | slugify }}">{{ tag_name }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- latest articles end --> 