---
layout: default
title: Tags
permalink: /tags/
---

<div class="page-header">
  <h1>Tags</h1>
</div>

<div class="tags-container">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    {% assign tag_name = tag | first %}
    {% assign tag_slug = tag_name | strip | slugify %}
    {% assign posts = tag | last %}
    
    <h2 id="{{ tag_slug }}">{{ tag_name }}</h2>
    <ul class="tag-posts">
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-date">({{ post.date | date: "%b %d, %Y" }})</span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<style>
  .tags-container h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .tag-posts {
    list-style-type: none;
    padding-left: 0;
  }
  .tag-posts li {
    margin-bottom: 5px;
  }
  .post-date {
    color: #999;
    font-size: 0.9em;
  }
</style> 